@{
    ViewData["Title"] = "About";
}


<div class="bg-danger p-3 rounded mt-5">
    <div class="row">
        <h1>Luxury Autos</h1>
    </div>
    <div class="row">
        <div class="col-9 text-black w-50 p-4 me-auto rounded border-1">
            <h2>We have all your luxury car needs! Stop in today to fulfill your auto dreams!</h2>
        </div>
        <img class="float-end col-3" src="~/Images/Black And White Globe Y2k Streetwear Logo.png" alt="Company Logo" />
    </div>
</div>
