@{
    ViewData["Title"] = "Contact";
}

<div class="bg-danger p-5 rounded mt-5">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row">
        <address class="col-9 text-black w-50 p-4 me-auto rounded border-1">
            <p>Address: 719 Woodmere Ave</p>
            <pre>         Traverse City MI, 49684</pre>
            <p>Phone: (231) 664-4021</p>
            <p>Hours: Monday-Friday 8:30 AM - 5:00 PM</p>
            <pre>       Saturday 12:00 PM - 4:00 PM</pre>
        </address>
        <img class="float-end col-3" src="~/Images/Black And White Globe Y2k Streetwear Logo.png" alt="Company Logo" />
    </div>
    <div class="row col-12 text-center">
        <div class="row">
            <h2>Brands</h2>
        </div>
        <div class="row col-4 ms-auto me-auto p-3 mt-4">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-dark"><a class="link-danger" href="https://www.ferrari.com/en-US" style="text-decoration:none;">Ferrari</a></li>
                <li class="list-group-item list-group-item-light"><a class="link-danger" href="https://www.lamborghini.com/en-en" style="text-decoration:none;">Lamborghini</a></li>
                <li class="list-group-item list-group-item-dark"><a class="link-danger" href="https://www.porsche.com/usa/" style="text-decoration:none;">Porsche</a></li>
                <li class="list-group-item list-group-item-light"><a class="link-danger" href="https://www.bentleymotors.com/en.html" style="text-decoration:none;">Bentley</a></li>
            </ul>
        </div>
       
    </div>
</div>

