@{
    ViewData["Title"] = "Home Page";
}

<div class="row border mb-5 p-3 bg-danger rounded">
    <div class="col-9 align-middle">
        <h1 class="display-4 fw-bold">Luxury Autos</h1>
        <p class="slogan">Your one stop shop for high performance vehicles!</p>
    </div>
    <img class="float-end col-3" src="~/Images/Black And White Globe Y2k Streetwear Logo.png" alt="Company Logo" />
</div>
<div class="row text-center mt-4 bg-danger p-5">
    <div class="row col-12">
        <h2>Sales</h2>
    </div>
    <div class="row mt-1">
        <div class="col-6">
            <h3>Lamborghini Aventador</h3>
            <img class="m-3 p-1 rounded" src="~/Images/aventadorOptimized.jpg" />
            <p class="border bg-white p-3 text-center w-50 text-center ms-auto me-auto rounded">
                Price: $556,942<br>
                Top Speed: 220 mph<sup>*</sup><br>
                0-60 Acceleration: 2.8s<sup>*</sup>
            </p>
        </div>
        <div class="col-6">
            <h3>Ferrari F12</h3>
            <img class="m-3 p-1 rounded" src="~/Images/f12Optimized.jpg" />
            <p class="border bg-white p-3 text-center w-50 text-center ms-auto me-auto rounded">               
                Price: $289,899<br>
                Top Speed: 211 mph<sup>*</sup><br>
                0-60 Acceleration: 3.1s<sup>*</sup>
            </p>
        </div>
    </div>
</div>